<div class="row main-container">
  <div class="header-text">
    <img src="https://apptimize.com/assets/img/apptimize-white-logo.svg" alt="Apptimize logo" class="header-logo">
  </div>
  <div class="small-10 small-centered columns">
    {{deposit-form createAccount='createAccount' creditCardErrors=creditCardErrors cardSaving=cardSaving cardSaved=cardSaved stripeIsProcessing=stripeIsProcessing}}
  </div>
</div>
